<div class="comment">
	<div class="author">
		<img src="http://gravatar.com/avatar/{{ hash }}?s=32&d=identicon" alt="" class="avatar">
		<span class="name">{{ name }}</span>
	</div>
	<div class="date">
		{{ date }}
	</div>
	<div class="text">
		{{ text }}
	</div>
</div>