<div class="comment-editor">
	<form>
		<p>
			<label for="author">
				Name
			</label>
			<input type="text" id="author">
		</p>
		<p>
			<label for="email">
				Email
			</label>
			<input type="text" id="email">
		</p>
		<p>
			<label for="website">
				Website	
			</label>
			<input type="text" id="website">
		</p>
		<p>
			<label for="comment-text">
				Comment
			</label>
			<textarea id="comment-text" cols="30" rows="10"></textarea>
		</p>
	</form>
</div>